<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    
    <h1 class="display-3">Search Your Favourite Image</h1>
    
    <form action="/imagedata" method="POST" class="image-search-form">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCamera">Camera</label>
          <select id="inputCamera" class="form-control" name="camera">
            <!-- <option selected>Choose...</option> -->
            <option selected value="">Choose...</option>
            <option value="NIKON">NIKON</option>
            <option value="CANON">CANON</option>
            <option value="SONY">SONY</option>
            <option value="FUJIFILM">FUJIFILM</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputISO">ISO</label>
          <select id="inputCamera" class="form-control" name="iso">
            <!-- <option selected>Choose...</option> -->
            <option selected value="">Choose...</option>
            <option value="64">64</option>
            <option value="100">100</option>
            <option value="125">125</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputResolution">Resolution</label>
          <select id="inputResolution" class="form-control" name="resolution">
            <!-- <option selected>Choose...</option> -->
            <option selected value="">Choose...</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="300">300</option>
            <option value="1200">1200</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputExposure">Exposure</label>
          <select id="inputResolution" class="form-control" name="exposure">
            <!-- <option selected>Choose...</option> -->
            <option selected value="">Choose...</option>
            <option value="148">1/148</option>
            <option value="123">1/123</option>
            <option value="75">1/75</option>
          </select>
        </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputResolution">ExifVersion</label>
            <select id="inputResolution" class="form-control" name="version">
              <!-- <option selected>Choose...</option> -->
              <option selected value="">Choose...</option>
              <option value="0220">0220</option>
              <option value="0210">0210</option>
              <option value="0200">0200</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="inputExposure">Flash</label>
            <select id="inputResolution" class="form-control" name="flash">
              <!-- <option selected>Choose...</option> -->
              <option selected value="">Choose...</option>
              <option value="on">ON</option>
              <option value="off">OFF</option>
            </select>
          </div>
          </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck" name="gps">
          <label class="form-check-label" for="gridCheck">
            GPS
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-dark btn-lg">Search</button>
      <a class="btn btn-danger btn-lg" href="/logout" role="button">Log Out</a>  
    </form>
    


    

    
  </div>
</div>











<%- include('partials/footer') %>
